<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.component.scss" />
    <!--RobotoFont
  https://fonts.google.com/specimen/Roboto?category=Serif,Sans+Serif&sort=popularity&preview.text=about&preview.text_type=custom
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <!--OswaldFont
  https://fonts.google.com/specimen/Oswald?category=Serif,Sans+Serif&sort=popularity&preview.text=Created%20by&preview.text_type=custom
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&display=swap"
      rel="stylesheet"
    />
    <!--YanoeKaffeeatzFont
  https://fonts.google.com/specimen/Yanone+Kaffeesatz?category=Serif,Sans+Serif&sort=popularity&preview.text=Thanks%20for%20your%20visit&preview.text_type=custom
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <!--WorkSansFont
  https://fonts.google.com/specimen/Work+Sans?category=Serif,Sans+Serif&sort=popularity&preview.text=@heisjuanda&preview.text_type=custom
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@700&family=Libre+Barcode+39+Text&family=Oswald&family=Righteous&family=Roboto:ital,wght@1,900&family=Work+Sans:ital@1&family=Yanone+Kaffeesatz&display=swap"
      rel="stylesheet"
    />
    <!--WorkSansFont
  https://fonts.google.com/specimen/Gantari?category=Serif,Sans+Serif
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gantari:wght@100&display=swap"
      rel="stylesheet"
    />

    <title>Main</title>
  </head>
  <body>
    <div class="transition">
      <div class="contenedor">
        <div class="parte">
          <br />
          <br />
          <button>
            <a href="https://angular-ivy-hj3mmn.stackblitz.io">
              <p class="Otro">
                I'm <br />
                <span>About</span>
              </p>
            </a>
          </button>
          <br />
          <button>
            <a href="https://angular-ivy-w2ogqf.stackblitz.io">
              <p class="JuanDavid">
                Juan <br />
                <span>Work</span>
              </p>
            </a>
          </button>
          <br />
          <button>
            <a href="">
              <p class="JuanDavid">
                David <br />
                <span>More</span>
              </p>
            </a>
          </button>
        </div>

        <div class="parte">
          <img
            src="https://user-images.githubusercontent.com/63882053/190920544-74130949-f3d4-4674-a86b-3f7b0edd45b0.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <!--FOOTER-->
    <div class="footer">
      <section class="tableFooter">
        <div class="CreatedByFooter">
          <h4>Created By</h4>
        </div>

        <div class="FollowFooter">
          <h4>Follow?</h4>
        </div>

        <div class="EmailMeFooter">
          <h4>Email Me</h4>
        </div>

        <div class="heisjuandaFooter">
          <p>
            <a href="https://www.instagram.com/heisjuanda/" target="_blank"
              >@heisjuanda</a
            >
          </p>
        </div>

        <div class="GitHubFooter">
          <p>
            <a href="https://github.com/jdma253" target="_blank">GitHub</a>
          </p>
        </div>

        <div class="jdma253Footer">
          <p>
            <a
              href="mailto:jdma253@gmail.com?subject=Hi Juan!&body=I love your page!"
              target="_blank"
              >jdma253@gmail.com</a
            >
          </p>
        </div>

        <div class="ThxVisitorFooter">
          <p>Thanks for your visit</p>
        </div>

        <div class="LinkedInFooter">
          <p>
            <a
              href="https://www.linkedin.com/in/juan-david-moreno-883a46233/"
              target="_blank"
              >LinkedIn</a
            >
          </p>
        </div>
      </section>
    </div>
  </body>
</html>
